.App {
  text-align: center;
  background-color: cornsilk;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 30px;
  margin-right: 20px;
  pointer-events: none;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header > h2 {
  color: black;
  font-size: xx-large;
}
