.item {
  display: flex;
  flex: 1;
  background-color: azure;
  align-items: center;
  justify-content: space-between;
  border-color: cadetblue;
  border-width: 0.1;
  border-style: solid;
  margin-bottom: 5px;
  padding: 0px 10px;
}

.item div {
  display: flex;
  align-items: center;
}

.item img {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

